<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>name</key>
  <string>Jasmin</string>
  <key>ordering</key>
  <array>
  </array>
  <key>uuid</key>
  <string>379c2786-2b36-4771-bece-72167eaba5c4</string>
</dict>
</plist>